/* Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* -------------------------HEADER NAVBAR AREA------------------------- */
.dropdown-menu{
    width: 100%;
    border-radius: 20px;
    border: 0px;
    background-color: rgb(0, 59, 75);
}
.dropdown-item{
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    background: none;
}
.dropdown-item:hover{
    margin-top: 5%;
    margin-bottom: 5%;
    transition: .3s;
    color: whitesmoke;
    background: none;
}
.logo{
    padding: 10%;
    width: 100%;
    margin:auto;
}
.doll{
    width: 0%;
}
.container-fluid{
    position: relative;
    text-align: center;
    align-items: center;
    align-content: center;
}
.navbar-toggler{
    padding: 2%;
    width: 100%;
    margin:auto;
    border: 0;
    transition: 1s;
    color: rgb(248, 249, 250)
}
.navbar-collapse{
    transition: .5s;
}
.nav-item{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
}
.nav-link:hover{
    color: rgb(23, 111, 146);
    font-weight: bold;
    padding-left: 10px;
    transition: padding-left .1s;
}
.contact {
        font-size: 18px;
        font-family: 'open sans', sans-serif;
        letter-spacing: 0;
        font-weight: bold;
        width: 160px;
        height: 60px;
        display: block;
        margin: auto;
        border-color: rgb(0, 112, 143);
        
        color: rgb(0, 112, 143);
        background-image: -webkit-linear-gradient(45deg, #f1c40fa0 50%, transparent 50%);
        background-image: linear-gradient(45deg, #f1c40fa0 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
}
.contact:hover {
        background-position: 0;
}
/* -------------------------END OF HEADER NAVBAR AREA------------------------- */

/* -------------------------MAIN------------------------- */
/* ------------PRIMARIA AREA------------ */
.row.about{
    margin: 0;
}
.primaria-container{
    box-sizing: border-box;
}
.primaria-tittle{
font-family: 'roboto', sans-serif;
font-weight: bold;
font-size: 32px;
text-align: center;
color: rgb(0, 112, 143);
font-weight: 500;
line-height: 1.2;
}
.primaria-description{
    line-height: 24px;
    margin: auto;

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: 14px;
    font-family: 'open sans', sans-serif;
}
.img-primaria{
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 27px;
    margin-bottom: 30px;
    width: 80%;
}
/* ------------END OF PRIMARIA AREA------------ */
/* ------------PHRASE AREA------------ */
.phrase-area{
    width: 100%;
}
.row.phrase{
    padding: 0;
    margin: 0;
}
.phrase-container{
    box-sizing: border-box;
    text-align: center;
    margin: 5%;
}
.phrase-tittle{
    font-size: 22px;
    color: rgb(90, 90, 90);
    line-height: 1;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'montserrat', sans-serif;
}
.phrase-sepp{
    border: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #f0e68c, #ffcc00, #f0e68c);
}
/* ------------END OF PHRASE AREA------------ */

/* ------------HORARIO BANNER AREA------------ */
.horario-banner-area{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 235, 237);
    border-radius: 5px;
    margin-top: 5%;
}
.horario-banner-tittle{
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: rgb(28, 93, 119);
    font-weight: 500;
    line-height: 1.2;
}
/* ------------END OF HORARIO BANNER AREA------------ */

/* ------------HORARIO AREA------------ */
.horario-area{
    margin-bottom: 10%;
}
.horario-tittle{
font-family: 'roboto', sans-serif;
font-weight: bold;
font-size: 20px;
text-align: center;
color: rgb(0, 112, 143);
font-weight: 500;
line-height: 1.2;
margin-top: 8%;
margin-bottom: 8%;
}
.horario-description{
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    font-family: 'open sans', sans-serif;
}
.horario-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 4%;
}
/* ------------END OF HORARIO AREA------------ */

/* ------------APRENDIZAJE AREA------------ */
.aprendizajes-area{
width: 100%;
display: flex;
justify-content: center;

margin-bottom: 20%;
}
.wrapper {
width: 100%;
display: grid;
justify-items: center;
grid-template-columns: repeat(2, 50%);
gap: 10px;
grid-auto-rows: 100px 200px;
}
.aprendizajes-description{
    font-size: 13px;
    padding-right: 5%;
    padding-left: 10%;
    font-family: 'open sans', sans-serif;
}
.aprendizajes-description2{
    font-size: 13px;
    padding-right: 10%;
    padding-left: 5%;
    height: fit-content;
    font-family: 'open sans', sans-serif;
}
.aprendizajes-icon1{
    color: rgb(0, 113, 144);
    bottom: 20%;
    justify-items: center;
    font-size: 54px;
}
.aprendizajes-icon2{

    color: rgb(0, 113, 144);
    bottom: 20%;
    justify-items: center;
    font-size: 54px;
}
.aprendizajes-icon3{
    color: rgb(0, 113, 144);
    justify-items: center;
    font-size: 54px;
}
.aprendizajes-icon4{
    color: rgb(0, 113, 144);
    justify-items: center;
    font-size: 54px;
}
/* ------------END OF APRENDIZAJE AREA------------ */
/* ------------INRB AREA------------ */
.inrb-area{
background-color: rgba(231, 251, 255, 0.414);
width: 90%;
margin: auto;
padding: 0%;
border-radius: 10px;
margin-bottom: 5%;
}
.row.inrb{
width: 100%;
margin: 0;
padding: 0%;
}
.inrb-description{
line-height: 24px;
margin: auto;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 5%;
font-size: 14px;
font-family: 'open sans', sans-serif;
}
.img-inrb{
width:150px;
height:150px;
border-radius:150px;
margin-top: 5%;
margin-left: 5%;
margin-bottom: 5%;
}
/* ------------END OF INRB AREA------------ */
/* -------------------------END OF MAIN------------------------- */

/* -------------------------FOOTER AREA------------------------- */
.foot{
    width: 100%;
    background-color: rgba(40, 104, 122, 0.133);
}
.foot-img{
    padding-top: 40px;
    width: 60%;
    margin: auto;
    display: flex;
}
hr.foot-line1{
    height: 3px;
    border-radius: 3px;
    width: 90%;
    margin-left: 5%;
    margin-top: 6%;
    margin-bottom: 2%;
    border-color: rgb(0, 112, 143);
    background-color: rgb(0, 112, 143);
}
.dir-tittle{
    margin-bottom: 4%;
    margin-left: 18%;
    color: rgb(0, 112, 143);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    font-family: 'open sans', sans-serif;
}
.ubi{
    letter-spacing: 0;
    margin-left: 5%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.geo{
    justify-content: left;
    margin-left: 10%;
    margin-bottom: 5%;
    list-style: none;
    display: flex;
    height: 30px;
}
/* ------------SOCIALS AREA------------ */
.socials{
    text-align: center;
    margin: auto;
    justify-content: center;
}
.dir-socials{
        text-align: left;
        margin-left: 18%;
        color: rgb(0, 112, 143);
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        font-family: 'open sans', sans-serif;
}
.list-socials{
        list-style-type: none;
        margin-left: 18%;
        padding: 0;
}
.sc-ierb{
        float: left;
        padding-right: 6%;
        padding-bottom: 6%;
}
.sc-ierb2{
        color:rgb(0, 112, 143);
        padding-bottom: 5%;
        margin: auto;
        float: left;
}
.mail{
    float: left;
    margin-left: 2%;
    justify-content: center;
    font-size: 10px;
    letter-spacing: 0px;
    font-family: 'open sans', sans-serif;
    color: black;
}
/* ------------END OF SOCIALS AREA------------ */
/* -----------FORM AREA----------- */
hr.foot-line2{
        height: 3px;
        border-radius: 3px;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 6%;
        border-color: rgb(0, 112, 143);
        background-color: rgb(0, 112, 143);
}
.vinculation{
        background-color: whitesmoke;
        width: 80%;
        margin: auto;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 0 6px 0 rgba(0, 59, 75, 0.245);
        padding-bottom: 5%;
        margin-bottom: 6%;
}
.contact-tittle{
        justify-content: left;
        margin-left: 10%;
        padding-top: 6%;
        padding-bottom: 3%;
        color: rgb(0, 112, 143);
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        font-family: 'open sans', sans-serif;
}
.form-all{
        width: 80%;
        margin: auto;
        justify-content: center;
}
.group{
        position: relative;
        justify-content: center;
        width: 100%;
        padding: 10px 0px 30px 0px;
}
.form-item{
        background: none;
        color: #c6c6c6;
        display: block;
        margin: auto;
        width: 100%;
        border: none;
        border-bottom: 1px solid;
        resize: none;
}
.form-item:focus{
        outline: none;
        color: black;
}
.form-item:focus~.form-text{
        position: absolute;
        top: -23px;
        font-size: 14px;
        color: rgb(0, 112, 143);
}
.form-text{
        position: absolute;
        top: -10px;
        left: 5px;
        font-size: 14px;
        font-family: 'open sans', sans-serif;
        letter-spacing: 0;
        font-weight: bold;
        color: rgb(164, 164, 164);
        transition: .3s ease all;
        pointer-events: none;
}
.form-item:focus~.bar::before{
        width: 100%;
}
.bar{
        position: relative;
        display: block;
        width: 100%;
}
.bar::before{
        content: '';
        border-radius: 2px;
        height: 2px;
        width: 0%;
        bottom: 0;
        position: absolute;
        background: linear-gradient(to right, #ffdf4eb8, #f1c40f);
        /*background: linear-gradient(to right, rgb(0, 112, 143), rgb(0, 200, 255));*/
        transition: .5s ease all;
}
.submit-form {
        font-size: 18px;
        font-family: 'open sans', sans-serif;
        letter-spacing: 0;
        font-weight: bold;
        width: 120px;
        height: 40px;
        display: block;
        margin: auto;
        border-color: rgb(0, 112, 143);
        
        color: rgb(0, 112, 143);
        background-image: -webkit-linear-gradient(45deg, #f1c40fa0 50%, transparent 50%);
        background-image: linear-gradient(45deg, #f1c40fa0 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
}
.submit-form:hover {
        background-position: 0;
}
/* -----------END OF FORM AREA----------- */

/* -------------------------END OF FOOTER AREA------------------------- */

/* -------------------------COPYRIGHT SECTION------------------------- */
    .copy-back{
    height: 50px;
    width: auto;
    background-color: rgb(0, 59, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .copy-text{
    color: rgb(164, 164, 164);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-top: 8px;
    }
/* -------------------------END OF COPYRIGHT SECTION------------------------- */
















/* -------------------------------------------------------------------------------------------- */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)
{
/* -------------------------HEADER NAVBAR LANDSCAPE------------------------- */
.navbar{
    padding: 3%;
}
.navbar-brand{
    background-color: rgba(0, 255, 255, 0.049);
    border-radius: 20px;
    width: auto;
}
.logo{
    width: 70%;
}
.doll{
    width: 15%;
}
.dropdown-menu{
    width: auto;
    text-align: center;
    align-items: center;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}     
.nav-item{
    padding: 0px;
}
.navbar-toggler{
    padding: 2%;
    width: 100%;
    margin:auto;
    border: 0px;
    transition: 1s;
}
.nav-link:hover{
    color: rgb(23, 111, 146);
    font-weight: bold;
}
.nav-item:hover{
    padding-right: 10px;
    transition: padding-right .1s;
}
/* -------------------------END OF HEADER NAVBAR LANDSCAPE------------------------- */
/* -------------------------MAIN LANDSCAPE------------------------- */
.container{
    max-width: 100%;
}
/* ------------PRIMARIA AREA------------ */
.primaria-tittle{
font-family: 'roboto', sans-serif;
font-weight: bold;
font-size: 28px;
text-align: center;
color: rgb(0, 112, 143);
font-weight: 500;
line-height: 1.2;
}
.primaria-description{
line-height: 20px;
margin: auto;
text-align: left;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 10px;
font-size: 16px;
font-family: 'open sans', sans-serif;
}
.img-primaria{
padding-top: 27px;
margin-bottom: 15px;
width: 45%;
margin-left: 27.5%;
margin-right: 27.5%;
}
/* ------------END OF PRIMARIA AREA------------ */

/* ------------HORARIO BANNER AREA------------ */
.horario-banner-area{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 235, 237);
    border-radius: 5px;
    margin-top: 5%;
}
.horario-banner-tittle{
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: rgb(28, 93, 119);
    font-weight: 500;
    line-height: 1.2;
}
/* ------------END OF HORARIO BANNER AREA------------ */

/* ------------HORARIO AREA------------ */
.horario-area{
    margin-bottom: 10%;
}
.horario-tittle{
font-family: 'roboto', sans-serif;
font-weight: bold;
font-size: 22px;
text-align: center;
color: rgb(0, 112, 143);
font-weight: 500;
line-height: 1.2;
margin-top: 4%;
margin-bottom: 4%;
}
.horario-description{
    line-height: 24px;
    text-align: center;
    font-size: 18px;
    font-family: 'open sans', sans-serif;
}
.horario-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 4%;
}
/* ------------END OF HORARIO AREA------------ */

/* ------------PHRASE AREA------------ */
.phrase-area{
width: 100%;
}
.row.phrase{
padding: 0;
margin: 0;
}
.phrase-container{
box-sizing: border-box;
text-align: center;
margin: auto;
margin-bottom: 10%;
}
.phrase-tittle{
font-size: 22px;
color: rgb(90, 90, 90);
line-height: 1;
padding: 0;
letter-spacing: 1px;
font-family: 'montserrat', sans-serif;
}
.phrase-sepp{
border: 0;
border-radius: 2px;
width: 100%;
height: 4px;
background-image: linear-gradient(to right, #f0e68c, #ffcc00, #f0e68c);
}
/* ------------END OF PHRASE AREA------------ */
/* ------------APRENDIZAJE AREA------------ */
.aprendizajes-area{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
}
.wrapper {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 50%);
    gap: 9px;
    grid-auto-rows: 100px 150px;
}
.aprendizajes-description{
    line-height: 20px;
    font-size: 14px;
    padding-right: 6%;
    padding-left: 6%;
    font-family: 'open sans', sans-serif;
}
.aprendizajes-description2{
    line-height: 20px;
    font-size: 14px;
    padding-right: 12%;
    padding-left: 5%;
    height: fit-content;
    font-family: 'open sans', sans-serif;
}
/* ------------END OF APRENDIZAJE AREA------------ */
/* ------------INRB AREA------------ */
.inrb-area{
    background-color: rgba(231, 251, 255, 0.414);
    border-radius: 10px;
    margin-top: 5%;
    width: 80%;
    margin-bottom: 5%;
}
.inrb-packet{
        margin-top: 5%;
        margin-bottom: 5%;
}
.row.inrb{
    width: 100%;
    margin: 0;
    padding: 0%;
}
.inrb-description{
    line-height: 24px;
    margin: auto;
    font-size: 14px;
    font-family: 'open sans', sans-serif;
}
.img-inrb{
    width:120px;
    height:120px;
    border-radius:150px;
    margin-left: 25%;
}
/* ------------END OF INRB AREA------------ */
/* -------------------------END OF MAIN LANDSCAPE------------------------- */
/* -------------------------FOOTER LANDSCAPE------------------------- */
/* ------------SOCIALS AREA------------ */
.mail{
display: inline-flex;
justify-content: center;
font-size: 16px;
letter-spacing: 0;
font-family: 'open sans', sans-serif;
color: black;
display: inline-block;
}
/* ------------END OF SOCIALS AREA------------ */
/* -------------------------END OF FOOTER LANDSCAPE------------------------- */
}
























/* -------------------------------------------------------------------------------------------- */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px)
{ 
/* -------------------------HEADER NAVBAR TABLET------------------------- */
    .navbar-brand{
    background: none;
    width: auto;
    margin: auto;
    }

    .logo{
    width: 80%;
    }

    .doll{
    width: 25%;
     }

    .dropdown-menu{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    }
        
    .nav-item{
    padding: 0px;
    }

    .navbar-toggler{
    width: auto;
    margin:auto;
    }
        .navbar-toggler{
    padding: 2%;
    width: auto;
    margin:auto;
    border: 0px;
    transition: 1s;
    }

    .nav-link:hover{
    color: rgb(23, 111, 146);
    font-weight: bold;
    }

    .nav-item:hover{
    padding-right: 10px;
    transition: padding-right .1s;
    }
/* -------------------------END OF HEADER NAVBAR TABLET------------------------- */
/* -------------------------MAIN TABLET------------------------- */
/* ------------PREESCOLAR AREA------------ */
.row.about{
margin: 0;
}
.primaria-container{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.primaria-tittle{
font-family: 'roboto', sans-serif;
font-weight: bold;
font-size: 32px;
color: rgb(0, 112, 143);
font-weight: 500;
line-height: 24px;
margin-top: 5%;
margin-bottom: 3%;
}
.primaria-description{
line-height: 20px;
text-align: center;
font-size: 16px;
font-family: 'open sans', sans-serif;
}
.img-primaria{
width: 45%;
}
/* ------------END OF PREESCOLAR AREA------------ */


/* ------------HORARIO BANNER AREA------------ */
.horario-banner-area{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 235, 237);
    border-radius: 5px;
    margin-top: 5%;
}
.horario-banner-tittle{
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: rgb(28, 93, 119);
    font-weight: 500;
    line-height: 1.2;
}
/* ------------END OF HORARIO BANNER AREA------------ */

/* ------------HORARIO AREA------------ */
.horario-area{
    margin-bottom: 0%;
}
.horario-tittle{
font-family: 'roboto', sans-serif;
font-weight: bold;
font-size: 22px;
text-align: center;
color: rgb(0, 112, 143);
font-weight: 500;
line-height: 1.2;
margin-top: 8%;
margin-bottom: 4%;
}
.horario-description{
    line-height: 24px;
    text-align: center;
    font-size: 18px;
    font-family: 'open sans', sans-serif;
}
.horario-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    margin-bottom: 4%;
}
/* ------------END OF HORARIO AREA------------ */

/* ------------PHRASE AREA------------ */
.phrase-area{
width: 100%;
}
.row.phrase{
padding: 0;
margin: 0;
}
.phrase-container{
box-sizing: border-box;
margin-top: 10%;
margin-bottom: 10%;
}
.phrase-tittle{
font-size: 24px;
color: rgb(90, 90, 90);
padding: 0;
letter-spacing: 0px;
font-family: 'montserrat', sans-serif;
}
.phrase-sepp{
border: 0;
border-radius: 2px;
width: 100%;
height: 4px;
background-image: linear-gradient(to right, #f0e68c, #ffcc00, #f0e68c);
}
/* ------------END OF PHRASE AREA------------ */
/* ------------APRENDIZAJE AREA------------ */
.aprendizajes-area{
width: 100%;
display: flex;
justify-content: center;
}
.wrapper {
width: 100%;
display: grid;
justify-items: center;
grid-template-columns: repeat(2, 50%);
gap: 9px;
grid-auto-rows: 100px 150px;
}
.aprendizajes-description{
line-height: 20px;
font-size: 14px;
padding-right: 7%;
padding-left: 6%;
font-family: 'open sans', sans-serif;
}
.aprendizajes-description2{
line-height: 20px;
font-size: 14px;
padding-right: 7%;
padding-left: 6%;
font-family: 'open sans', sans-serif;
}
.aprendizajes-icon1{
    color: rgb(0, 113, 144);
    justify-items: center;
    font-size: 64px;
}
.aprendizajes-icon2{
    color: rgb(0, 113, 144);
    justify-items: center;
    font-size: 64px;
}
.aprendizajes-icon3{
    color: rgb(0, 113, 144);
    justify-items: center;
    font-size: 64px;
}
.aprendizajes-icon4{
    color: rgb(0, 113, 144);
    justify-items: center;
    font-size: 64px;
}
/* ------------END OF APRENDIZAJE AREA------------ */
/* ------------INRB AREA------------ */
.inrb-area{
background-color: rgba(231, 251, 255, 0.485);
border-radius: 10px;
margin-top: 5%;
width: 90%;
margin-bottom: 5%;
}
.inrb-packet{
margin-top: 5%;
margin-bottom: 5%;
}
.row.inrb{
width: 100%;
margin: 0;
padding: 0%;
}
.inrb-description{
line-height: 24px;
margin-top: 8%;
margin-right: 20%;
font-size: 14px;
font-family: 'open sans', sans-serif;
}
.img-inrb{
margin-left: 20%;
width:180px;
height:180px;
border-radius:150px;
}
/* ------------END OF INRB AREA------------ */
/* -------------------------END OF MAIN TABLET------------------------- */
/* -------------------------FOOTER TABLET------------------------- */
.foot{
    width: 100%;
    background-color: rgba(40, 104, 122, 0.133);
}
.foot-img{
    padding-top: 3%;
    width: 35%;
    margin: auto;
    display: flex;
}
hr.foot-line1{
    height: 3px;
    border-radius: 3px;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-color: rgb(0, 112, 143);
    background-color: rgb(0, 112, 143);
}
.dir{
    width:  47%;
    margin: 0%;
}
.dir-tittle{
    margin-bottom: 4%;
    color: rgb(0, 112, 143);
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0;
    font-family: 'open sans', sans-serif;
}
.ubi{
    letter-spacing: 0;
    margin-left: 5%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.geo{
    justify-content: left;
    margin-left: 10%;
    margin-bottom: 10%;
    list-style: none;
    display: flex;
    height: 30px;
}
/* -------------------------SOCIALS AREA TABLET------------------------- */
.socials{
margin-left: 50%;
width:  47%;
margin-top: -14%;
}
.dir-socials{
color: rgb(0, 112, 143);
font-size: 22px;
font-weight: bold;
letter-spacing: 0;
font-family: 'open sans', sans-serif;
}
.list-socials{
list-style-type: none;
padding: 0;
}
.sc-ierb{
float: left;
padding-right: 25%;
padding-bottom: 6%;
}
.sc-ierb2{
color:rgb(0, 112, 143);
padding-bottom: 5%;
margin: auto;
float: left;
}
.mail{
font-size: 12px;
letter-spacing: 0;
font-family: 'open sans', sans-serif;
color: black;
}
/* -------------------------END OF SOCIALS AREA TABLET------------------------- */
/* -----------FORM TABLET----------- */
hr.foot-line2{
        height: 3px;
        border-radius: 3px;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 6%;
        border-color: rgb(0, 112, 143);
        background-color: rgb(0, 112, 143);
}
.vinculation{
        background-color: whitesmoke;
        width: 80%;
        margin: auto;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 0 6px 0 rgba(0, 59, 75, 0.245);
        padding-bottom: 5%;
        margin-bottom: 6%;
}
.contact-tittle{
        justify-content: left;
        margin-left: 10%;
        padding-top: 6%;
        padding-bottom: 3%;
        color: rgb(0, 112, 143);
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        font-family: 'open sans', sans-serif;
}
.form-all{
        width: 80%;
        margin: auto;
        justify-content: center;
}
.group{
        position: relative;
        justify-content: center;
        width: 100%;
        padding: 10px 0px 30px 0px;
}
.form-item{
        background: none;
        color: #c6c6c6;
        display: block;
        margin: auto;
        width: 100%;
        border: none;
        border-bottom: 1px solid;
        resize: none;
}
.form-item:focus{
        outline: none;
        color: black;
}
.form-item:focus~.form-text{
        position: absolute;
        top: -23px;
        font-size: 14px;
        color: rgb(0, 112, 143);
}
.form-text{
        position: absolute;
        top: -10px;
        left: 5px;
        font-size: 14px;
        font-family: 'open sans', sans-serif;
        letter-spacing: 0;
        font-weight: bold;
        color: rgb(164, 164, 164);
        transition: .3s ease all;
        pointer-events: none;
}
.form-item:focus~.bar::before{
        width: 100%;
}
.bar{
        position: relative;
        display: block;
        width: 100%;
}
.bar::before{
        content: '';
        border-radius: 2px;
        height: 2px;
        width: 0%;
        bottom: 0;
        position: absolute;
        background: linear-gradient(to right, #ffdf4eb8, #f1c40f);
        /*background: linear-gradient(to right, rgb(0, 112, 143), rgb(0, 200, 255));*/
        transition: .5s ease all;
}
.submit-form {
        font-size: 18px;
        font-family: 'open sans', sans-serif;
        letter-spacing: 0;
        font-weight: bold;
        width: 120px;
        height: 40px;
        display: block;
        margin: auto;
        border-color: rgb(0, 112, 143);
        
        color: rgb(0, 112, 143);
        background-image: -webkit-linear-gradient(45deg, #f1c40fa0 50%, transparent 50%);
        background-image: linear-gradient(45deg, #f1c40fa0 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
}
.submit-form:hover {
        background-position: 0;
}/* -----------END OF FORM TABLET----------- */
/* -------------------------END OF FOOTER TABLET------------------------- */
}
 























/* -------------------------------------------------------------------------------------------- */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) 
{
/* -----------NAVBAR PC----------- */
.navbar-brand{
    background: none;
    width: 25%;
    margin-right:10%;
}
.navbar{
    display: flex;
    height: 200px;
    padding-top: 3%;
    background-color: rgba(0, 255, 255, 0.049);
}
.logo{
    width: 100%;
}
.doll{
    width: 80px;
}
.dropdown-menu{
    width: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.navbar-nav{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.nav-item{
    padding: 20px;
    text-align: center;
}
.nav-item:hover{
    padding-top: 5px;
    transition: padding-top .1s;
}
.nav-link:hover{
    color: rgb(23, 111, 146);
    font-weight: bold;
}
.dropdown:hover .dropdown-menu{
        display: block;
}
/* -----------END OF NAVBAR PC----------- */
/* -------------------------MAIN AREA PC------------------------- */
/* ------------PREESCOLAR AREA------------ */
.row.about{
margin: 0;
}
.primaria-container{
margin-top: 12%;
}
.primaria-tittle{
font-family: 'roboto', sans-serif;
font-weight: bold;
font-size: 40px;
color: rgb(0, 112, 143);
font-weight: 500;
line-height: 24px;
margin-top: 0%;
margin-bottom: 3%;
}
.primaria-description{
line-height: 20px;
text-align: left;
font-size: 18px;
font-family: 'open sans', sans-serif;
margin-left: 25%;
margin-right: 22%;
}
.primaria-image{
margin-top: 5%;
}
.img-primaria{
width: 70%;
}
/* ------------END OF PREESCOLAR AREA------------ */



/* ------------HORARIO BANNER AREA------------ */
.horario-banner-area{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 235, 237);
    border-radius: 5px;
    margin-top: 3%;
}
.horario-banner-tittle{
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: rgb(28, 93, 119);
    font-weight: 500;
    line-height: 1.2;
}
/* ------------END OF HORARIO BANNER AREA------------ */

/* ------------HORARIO AREA------------ */
.horario-area{
margin-bottom: 0%;
}
.horario-tittle{
font-family: 'roboto', sans-serif;
font-weight: bold;
font-size: 30px;
text-align: center;
color: rgb(0, 112, 143);
font-weight: 500;
line-height: 1.2;
margin-top: 8%;
margin-bottom: 4%;
}
.horario-description{
    line-height: 24px;
    text-align: center;
    font-size: 20px;
    font-family: 'open sans', sans-serif;
}
.horario-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    margin-bottom: 4%;
}
/* ------------END OF HORARIO AREA------------ */


/* ------------PHRASE AREA------------ */
.phrase-area{
width: 100%;
}
.row.phrase{
padding: 0;
margin: 0;
}
.phrase-container{
box-sizing: border-box;
margin-top: 6%;
margin-bottom: 6%;
}
.phrase-tittle{
font-size: 24px;
color: rgb(90, 90, 90);
padding: 0;
letter-spacing: 0px;
font-family: 'montserrat', sans-serif;
}
.phrase-sepp{
border: 0;
border-radius: 3px;
width: 100%;
height:5px;
background-image: linear-gradient(to right, #eadc60, #ffcc00, #eadc60);
}
/* ------------END OF PHRASE AREA------------ */
/* ------------APRENDIZAJE AREA------------ */
.aprendizajes-area{
width: 100%;
display: flex;
justify-content: center;
}
.wrapper {
width: 100%;
display: grid;
justify-items: center;
grid-template-columns: repeat(2, 50%);
gap: 9px;
grid-auto-rows: 100px 150px;
}
.aprendizajes-description{
line-height: 20px;
font-size: 18px;
padding-top: 3%;
padding-right: 12%;
padding-left: 12%;
font-family: 'open sans', sans-serif;
}
.aprendizajes-description2{
line-height: 20px;
font-size: 18px;
padding-top: 3%;
padding-right: 12%;
padding-left: 12%;
font-family: 'open sans', sans-serif;
}
.aprendizajes-content{
    margin-left: 15%;
    margin-right: 15%;
}
.aprendizajes-icon1{
color: rgb(0, 113, 144);
justify-items: center;
font-size:70px;
}
.aprendizajes-icon2{
color: rgb(0, 113, 144);
justify-items: center;
font-size:70px;
}
.aprendizajes-icon3{
color: rgb(0, 113, 144);
justify-items: center;
font-size:70px;
}
.aprendizajes-icon4{
color: rgb(0, 113, 144);
justify-items: center;
font-size:70px;
}
/* ------------END OF APRENDIZAJE AREA------------ */
/* ------------INRB AREA------------ */
    .inrb-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 251, 255, 0.414);
    border-radius: 10px;
    width: 80%;
    height: 450px;
    margin-top: 3%;
    margin-bottom: 3%;
    }
    .inrb-packet{
    margin-top: 5%;
    margin-bottom: 5%;
    }
    .row.inrb{
    width: 100%;
    margin: 0;
    padding: 0%;
    }
    .inrb-description{
    line-height: 24px;
    margin-top: 12%;
    margin-right: 35%;
    font-size: 20px;
    font-family: 'open sans', sans-serif;
    }
    .img-inrb{
    margin-left: 30%;
    width:260px;
    height:260px;
    border-radius:150px;
    }
/* ------------END OF INRB AREA------------ */
/* -------------------------END OF MAIN AREA PC------------------------- */
    /* -------------------------FOOTER PC------------------------- */
.footer{
    
    width: 100%;
    background-color: rgba(40, 104, 122, 0.133);
    height: 500px;
    display: contents;
    }

    .foot-img{
    padding-top: 11%;
    width: 18%;
    margin-left: 5%;
    float: left;
    }

    hr.foot-line1{
    height: 0px;
    border-radius: 3px;
    width: 0%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-color: rgb(0, 112, 143);
    background-color: rgb(0, 112, 143);
    }

    .dir{
    width:  20%;
    margin-top: 5%;
    margin-left: 25%;
    }

    .dir-tittle{
    margin-bottom: 4%;
    color: rgb(0, 112, 143);
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0;
    font-family: 'open sans', sans-serif;
    }

    .ubi{
    letter-spacing: 0;
    margin-left: 5%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    }

    .geo{
    justify-content: left;
    list-style: none;
    display: flex;
    height: 30px;
    }
/* -----------SOCIAL AREA PC----------- */
    .socials{
    margin-top: 5%;
    margin-left: 26%;
    width:  15%;
    }

    .dir-socials{
    margin-bottom: 4%;
    color: rgb(0, 112, 143);
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0;
    font-family: 'open sans', sans-serif;
    }

    .list-socials{
        list-style-type: none;
        padding: 0;
    }
    .sc-ierb{
        float: left;
        padding-right: 15%;
        padding-bottom: 6%;
    }
    .sc-ierb2{
        color:rgb(0, 112, 143);
        float: left;
        padding-right: 15%;
    }

.mail{
    position: absolute;
    margin-top: .6%;
    font-size: 14px;
    letter-spacing: 0;
    font-family: 'open sans', sans-serif;
    color: black;
}
/* -----------END OF SOCIAL AREA PC----------- */
/* -----------FORM PC----------- */
    hr.foot-line2{
        height: 0px;
        border-radius: 3px;
        width: 0%;
        border-color: rgba(0, 112, 143, 0);
        background-color: rgba(0, 112, 143, 0);
        display: none;
        }

    .vinculation{
        background-color: whitesmoke;
        width: 22%;
        margin-top: -15%;
        margin-bottom: 20px;
        margin-left: 65%;
        height: 450px;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 0 6px 0 rgba(0, 59, 75, 0.245);
    }

    .contact-tittle{
        justify-content: left;
        margin-left: 10%;
        padding-top: 6%;
        padding-bottom: 3%;
        color: rgb(0, 112, 143);
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        font-family: 'open sans', sans-serif;
        }

    .form-all{
        width: 80%;
        margin: auto;
        justify-content: center;
    }
    .group{
        position: relative;
        justify-content: center;
        width: 100%;
        padding: 10px 0px 30px 0px;
    }

    .form-item{
        background: none;
        color: #c6c6c6;
        display: block;
        margin: auto;
        width: 100%;
        border: none;
        border-bottom: 1px solid;
        resize: none;
    }

    .form-item:focus{
        outline: none;
        color: black;
    }
    .form-item:focus~.form-text{
        position: absolute;
        top: -23px;
        font-size: 14px;
        color: rgb(0, 112, 143);
    }
    .form-text{
        position: absolute;
        top: -10px;
        left: 5px;
        font-size: 14px;
        font-family: 'open sans', sans-serif;
        letter-spacing: 0;
        font-weight: bold;
        color: rgb(164, 164, 164);
        transition: .3s ease all;
        pointer-events: none;
    }


    .form-item:focus~.bar::before{
        width: 100%;
    }
    .bar{
        position: relative;
        display: block;
        width: 100%;
    }

    .bar::before{
        content: '';
        border-radius: 2px;
        height: 2px;
        width: 0%;
        bottom: 0;
        position: absolute;
        background: linear-gradient(to right, #ffdf4eb8, #f1c40f);
        /*background: linear-gradient(to right, rgb(0, 112, 143), rgb(0, 200, 255));*/
        transition: .5s ease all;
    }

    .submit-form {
        font-size: 18px;
        font-family: 'open sans', sans-serif;
        letter-spacing: 0;
        font-weight: bold;
        width: 120px;
        height: 40px;
        display: block;
        margin: auto;
        border-color: rgb(0, 112, 143);
        
        color: rgb(0, 112, 143);
        background-image: -webkit-linear-gradient(45deg, #f1c40fa0 50%, transparent 50%);
        background-image: linear-gradient(45deg, #f1c40fa0 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
      }

      .submit-form:hover {
        background-position: 0;
      }
      /* -----------END OF FORM PC----------- */
/* -------------------------END OF FOOTER PC------------------------- */
}